@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: var(--font-kanit); */
  font-family: var(--font-sarabun);
}
input,
select,
textarea {
  /* -webkit-text-fill-color: black !important; */
  color: black !important;
  background-color: white !important;
  caret-color: black !important;
}
